Repository IoTeaTime/meong-ha-nyang-client, pull requests merged in 2024-11, with the labels that each got.

#43 feat: 시작화면 (#42) (KAN-117)
  app/src/main/java/com/example/mhnfe/StartScreen.kt
Labels: feature

#45 feat: 로그인 화면
  app/src/main/java/com/example/mhnfe/ui/screens/auth/LoginScreen.kt
Labels: feature

#49 feat: 홈 스크린 (#48) (KAN-120)
  app/src/main/java/com/example/mhnfe/ui/screens/auth/HomeScreen.kt
Labels: feature

#53 feat: BottomBar 페이지 구현
  app/src/main/java/com/example/mhnfe/data/model/CCTV.kt
  app/src/main/java/com/example/mhnfe/data/signaling/model/Event.kt
  app/src/main/java/com/example/mhnfe/data/signaling/model/Message.kt
  app/src/main/java/com/example/mhnfe/ui/bottombar/BottomBarScreen.kt
  app/src/main/res/drawable/monitoring.xml
  app/src/main/res/drawable/mypage.xml
  app/src/main/res/drawable/report.xml
Labels: feature

#55 feat : 앱 구조 설계
  app/src/main/java/com/example/mhnfe/data/signaling/Signaling.kt
  app/src/main/java/com/example/mhnfe/data/signaling/model/Event.kt
  app/src/main/java/com/example/mhnfe/data/signaling/model/Message.kt
  app/src/main/java/com/example/mhnfe/ui/bottombar/BottomBarScreen.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/SelectScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/StartUpScreen.kt
Labels: feature

#56 feat : aws 데모앱 UI설계
  app/src/main/java/com/example/mhnfe/ui/screens/master/WebRTCScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/master/WebRtcConfigurationScreen.kt
Labels: feature

#58 feat : 그룹페이지 구현 및 QR페이지 연결
  app/src/main/java/com/example/mhnfe/data/model/CCTV.kt
  app/src/main/java/com/example/mhnfe/di/UserType.kt
  app/src/main/java/com/example/mhnfe/ui/bottombar/BottomBarScreen.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/StartUpScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/master/MasterMainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/master/QRGenerateScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/QRGenerateScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/QRViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/theme/Color.kt
Labels: feature

#62 fix: TopBar modifier 수정
  .idea/misc.xml
  app/src/main/java/com/example/mhnfe/ui/components/TopBar.kt
Labels: fix

#66 fix: Topbar color setting
  app/src/main/java/com/example/mhnfe/ui/components/TopBar.kt
Labels: fix

#67 fix : 바텀바 네비게이션 문제 해결 및 다크모드 문제 해결
  app/src/main/java/com/example/mhnfe/ui/bottombar/BottomBarScreen.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/QRGenerateScreen.kt
  app/src/main/java/com/example/mhnfe/ui/theme/Theme.kt
Labels: fix

#70 fix: 공통 component button ui 수정
  app/src/main/java/com/example/mhnfe/StartScreen.kt
  app/src/main/java/com/example/mhnfe/ui/components/button.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/SignUpScreen.kt
Labels: fix

#73 Fix/63 kan 138 textbox
  app/src/main/java/com/example/mhnfe/ui/components/TextBox.kt
  app/src/main/res/drawable/cautionicon.xml
Labels: fix

#74 feat : CCTV 카드 및 기기정보 페이지 구현
  app/src/main/java/com/example/mhnfe/data/model/CCTV.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/DeviceInfoScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/MonitoringComponents.kt
  app/src/main/res/drawable/bad_signal.xml
  app/src/main/res/drawable/cctv_setting.xml
  app/src/main/res/drawable/full_battery.xml
  app/src/main/res/drawable/good_signal.xml
  app/src/main/res/drawable/logo.png
  app/src/main/res/drawable/logo2.png
  app/src/main/res/drawable/low_battery.xml
  app/src/main/res/drawable/medium_battery.xml
Labels: feature

#76 feat: QRScanningScreen UI fin
  app/src/main/java/com/example/mhnfe/ui/screens/qr/QRScanningScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/QRScanningViewModel.kt
Labels: feature

#79 fix: Jira 관련 워크플로우 삭제
  .github/ISSUE_TEMPLATE/1-test-issue-form.yml
  .github/ISSUE_TEMPLATE/2-feature-issue-form.yml
  .github/ISSUE_TEMPLATE/3-fix-issue-form.yml
  .github/ISSUE_TEMPLATE/4-refactor-issue-form.yml
  .github/workflows/close-jira-issue.yml
  .github/workflows/create-jira-issue.yml
Labels: fix

#80 feat: Mypage ui
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
  app/src/main/res/drawable/edit.xml
  app/src/main/res/drawable/navigate_after.xml
  app/src/main/res/drawable/profile.png
Labels: feature

#86 fix: Jira 연동 복구
  .github/ISSUE_TEMPLATE/1-test-issue-form.yml
  .github/ISSUE_TEMPLATE/2-feature-issue-form.yml
  .github/ISSUE_TEMPLATE/3-fix-issue-form.yml
  .github/ISSUE_TEMPLATE/4-refactor-issue-form.yml
  .github/workflows/close-jira-issue.yml
  .github/workflows/create-jira-issue.yml
Labels: fix

#88 feat: edit pop-up ui 작업
  app/src/main/java/com/example/mhnfe/ui/components/editPopup.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
Labels: feature

#90 feat: 리포트 페이지 구현
  app/build.gradle.kts
  app/src/main/java/com/example/mhnfe/data/model/CCTV.kt
  app/src/main/java/com/example/mhnfe/ui/bottombar/BottomBarScreen.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/QRGenerateScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/report/ReportComponents.kt
  app/src/main/java/com/example/mhnfe/ui/screens/report/ReportScreen.kt
Labels: feature

#92 fix: PasswordEditScreen 텍스트 입력 오류 해결
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/PasswordEditScreen.kt
Labels: fix

#81 Fix/71 kan 149 signup
  app/src/main/java/com/example/mhnfe/StartScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/SelectScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/SignUpScreen.kt
  app/src/main/res/drawable/google1.png
  app/src/main/res/drawable/logo2.png
Labels: fix

#95 feat: Auth 경로 추가 및 수정
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/SelectScreen.kt
  app/src/main/res/drawable/logo2.png
Labels: feature

#98 feat: KVS 신호생성 구현
  app/src/main/java/com/example/mhnfe/MainActivity.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/master/KVSSignalingViewModel.kt
  app/src/main/java/com/example/mhnfe/webrtc/KinesisVideoPeerConnection.kt
  app/src/main/java/com/example/mhnfe/webrtc/KinesisVideoSdpObserver.kt
Labels: feature

#100 feat : 앱 실행시 권한 설정 추가
  .idea/deploymentTargetSelector.xml
  .idea/kotlinc.xml
  app/src/main/java/com/example/mhnfe/MainActivity.kt
  app/src/main/java/com/example/mhnfe/utils/PermissionManager.kt
Labels: feature

#93 feat: profileScreen navigate 연결
  app/src/main/java/com/example/mhnfe/ui/components/deletePopup.kt
  app/src/main/java/com/example/mhnfe/ui/components/editPopup.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
Labels: feature

#106 feat: SignUp api 연결 및 navigation 연결
  app/build.gradle.kts
  app/src/main/java/com/example/mhnfe/data/api/AuthApi.kt
  app/src/main/java/com/example/mhnfe/data/model/ApiResponse.kt
  app/src/main/java/com/example/mhnfe/data/model/SignUpRequest.kt
  app/src/main/java/com/example/mhnfe/data/repository/AuthRepository.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/SignUpScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/SignUpViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/ViewModelFactory.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/PasswordEditScreen.kt
Labels: feature

#113 feat :KVS WebRTC 연결
  .idea/deploymentTargetSelector.xml
  app/build.gradle.kts
  app/src/main/java/com/example/mhnfe/MainActivity.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/StartUpScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/master/KVSSignalingViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/master/WebRTCScreen.kt
  app/src/main/res/drawable/switch_camera.xml
  gradle/libs.versions.toml
Labels: feature

#103 Feature/101 devicemanage
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
Labels: feature

#114 Feature/110 login page api
  .idea/jpa-buddy.xml
  app/src/main/java/com/example/mhnfe/data/api/AuthApi.kt
  app/src/main/java/com/example/mhnfe/data/model/ApiResponse.kt
  app/src/main/java/com/example/mhnfe/data/model/LoginRequest.kt
  app/src/main/java/com/example/mhnfe/data/repository/AuthRepository.kt
  app/src/main/java/com/example/mhnfe/ui/components/TextBox.kt
  app/src/main/java/com/example/mhnfe/ui/components/TopBar.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/LoginViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/SelectScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/ViewModelFactory.kt
Labels: feature

#105 feat: FCM 푸시 알림 설정 구현
  .gitignore
  app/.gitignore
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/mhnfe/MainActivity.kt
  app/src/main/java/com/example/mhnfe/data/model/request/RequestFcmToken.kt
  app/src/main/java/com/example/mhnfe/data/service/FcmService.kt
  app/src/main/java/com/example/mhnfe/fcm/MyFirebaseMessageingService.kt
  app/src/main/java/com/example/mhnfe/fcm/MyWoker.kt
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  build.gradle.kts
  gradle/libs.versions.toml
Labels: feature

#121 feat: iot core mqtt 연결
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/runConfigurations.xml
  app/build.gradle.kts
  app/src/main/java/com/example/mhnfe/mqtt/IoTClientHelper.kt
  app/src/main/java/com/example/mhnfe/mqtt/MqttManagerHelper.kt
  app/src/main/java/com/example/mhnfe/mqtt/MqttPubSub.kt
  app/src/main/java/com/example/mhnfe/mqtt/MqttUtils.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/MainScreen.kt
  build.gradle.kts
  gradle.properties
Labels: feature

#120 fix: FCM 아키텍처 수정, SharedPreferences 비동기 처리
  .gitignore
  .idea/.name
  .idea/appInsightsSettings.xml
  .idea/compiler.xml
  .idea/deploymentTargetSelector.xml
  .idea/gradle.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jpa-buddy.xml
  .idea/kotlinc.xml
  .idea/migrations.xml
  .idea/misc.xml
  .idea/shelf/Uncommitted_changes_before_Update_at_2024__10__24__오후_1_52_[Changes]/shelved.patch
  .idea/vcs.xml
  app/src/main/java/com/example/mhnfe/MainActivity.kt
  app/src/main/java/com/example/mhnfe/data/api/AuthApi.kt
  app/src/main/java/com/example/mhnfe/data/model/RefreshFcmTokenRequest.kt
  app/src/main/java/com/example/mhnfe/data/model/request/RequestFcmToken.kt
  app/src/main/java/com/example/mhnfe/data/repository/AuthRepository.kt
  app/src/main/java/com/example/mhnfe/data/service/FcmService.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/LoginViewModel.kt
  app/src/main/java/com/example/mhnfe/utils/PermissionManager.kt
Labels: fix

#125 webRTC라이브러리 초기화 수정
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/mhnfe/MainActivity.kt
  app/src/main/java/com/example/mhnfe/MyApplication.kt
Labels: feature

#129 feat: hilt구조 생성 및 그룹생성 api연결
  app/build.gradle.kts
  app/src/main/java/com/example/mhnfe/MainActivity.kt
  app/src/main/java/com/example/mhnfe/MyApplication.kt
  app/src/main/java/com/example/mhnfe/data/api/GroupApi.kt
  app/src/main/java/com/example/mhnfe/data/model/ApiResponse.kt
  app/src/main/java/com/example/mhnfe/data/model/GroupResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/AuthRepository.kt
  app/src/main/java/com/example/mhnfe/data/repository/GroupRepository.kt
  app/src/main/java/com/example/mhnfe/di/module/DataStoreModule.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/SelectScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/SelectViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/master/WebRTCScreen.kt
  build.gradle.kts
  gradle/libs.versions.toml
Labels: feature

#132 feat: IoT MQTT Hilt 적용
  app/MyApplication.kt
  app/build.gradle.kts
  app/src/main/java/com/example/mhnfe/MyApplication.kt
  app/src/main/java/com/example/mhnfe/data/api/AuthApi.kt
  app/src/main/java/com/example/mhnfe/data/repository/AuthRepository.kt
  app/src/main/java/com/example/mhnfe/di/module/DataStoreModule.kt
  app/src/main/java/com/example/mhnfe/mqtt/IoTClientHelper.kt
  app/src/main/java/com/example/mhnfe/mqtt/IoTShadowClientHelper.kt
  app/src/main/java/com/example/mhnfe/mqtt/MqttManagerHelper.kt
  app/src/main/java/com/example/mhnfe/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/mqtt/shadow/delta/ShadowContent.kt
  app/src/main/java/com/example/mhnfe/mqtt/shadow/delta/ShadowDeltaMsg.kt
  app/src/main/java/com/example/mhnfe/mqtt/shadow/delta/ShadowDeltaState.kt
  app/src/main/java/com/example/mhnfe/ui/screens/master/WebRTCScreen.kt
Labels: feature

#134 feat: Viewer를 위한 기본 토픽 구독
  app/src/main/java/com/example/mhnfe/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/master/WebRTCScreen.kt
Labels: feature

#141 feat: 앱 실행로고 추가 및 splash 추가
  app/src/main/AndroidManifest.xml
  app/src/main/ic_main-playstore.png
  app/src/main/res/mipmap-anydpi-v26/ic_main.xml
  app/src/main/res/mipmap-anydpi-v26/ic_main_round.xml
  app/src/main/res/mipmap-hdpi/ic_main.webp
  app/src/main/res/mipmap-hdpi/ic_main_foreground.webp
  app/src/main/res/mipmap-hdpi/ic_main_round.webp
  app/src/main/res/mipmap-mdpi/ic_main.webp
  app/src/main/res/mipmap-mdpi/ic_main_foreground.webp
  app/src/main/res/mipmap-mdpi/ic_main_round.webp
  app/src/main/res/mipmap-xhdpi/ic_main.webp
  app/src/main/res/mipmap-xhdpi/ic_main_foreground.webp
  app/src/main/res/mipmap-xhdpi/ic_main_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_main.webp
  app/src/main/res/mipmap-xxhdpi/ic_main_foreground.webp
  app/src/main/res/mipmap-xxhdpi/ic_main_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_main.webp
  app/src/main/res/mipmap-xxxhdpi/ic_main_foreground.webp
  app/src/main/res/mipmap-xxxhdpi/ic_main_round.webp
  app/src/main/res/values/ic_main_background.xml
Labels: feature

#145 refactor: auth directory edit
  app/src/main/java/com/example/mhnfe/data/remote/api/AuthApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/AuthRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/EmailRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/LoginRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/RefreshFcmTokenRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/SignUpRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/AuthResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/AuthRepository.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpViewModel.kt
Labels: refactor

#146 feature: auto login token refresh
  .idea/deploymentTargetSelector.xml
  .idea/inspectionProfiles/Project_Default.xml
  app/src/main/java/com/example/mhnfe/data/network/AuthInterceptor.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/ApiService.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/UserApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/UserRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/AuthResponse.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/UserResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/AuthRepository.kt
  app/src/main/java/com/example/mhnfe/data/repository/UserRepository.kt
  app/src/main/java/com/example/mhnfe/data/token/TokenProvider.kt
  app/src/main/java/com/example/mhnfe/di/AppModule.kt
  app/src/main/java/com/example/mhnfe/di/module/AppModule.kt
  app/src/main/java/com/example/mhnfe/di/module/NetworkModule.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/ViewModelFactory.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpViewModel.kt
Labels: feature

#137 feat: 임시 이벤트 발행 callback 구현 (#135)
  .idea/deploymentTargetSelector.xml
  .idea/inspectionProfiles/Project_Default.xml
  app/src/main/java/com/example/mhnfe/domain/ai/AiViewModel.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
Labels: feature

#149 refactor: 역할 분리 및 payload 분리
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  app/src/main/java/com/example/mhnfe/utils/DeviceUtils.kt
Labels: refactor

#152 fix: dependency cycle
  app/src/main/java/com/example/mhnfe/data/network/AuthInterceptor.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/ApiService.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/AuthRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/AuthResponse.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/UserResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/AuthRepository.kt
  app/src/main/java/com/example/mhnfe/data/repository/UserRepository.kt
  app/src/main/java/com/example/mhnfe/di/module/NetworkModule.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpScreen.kt
Labels: fix

#155 feat : 그룹 정보 api 연결
  app/src/main/java/com/example/mhnfe/data/remote/response/GroupResponse.kt
  app/src/main/java/com/example/mhnfe/domain/ai/AiViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/select/SelectScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/select/SelectViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
Labels: feature

#158 refactor: SignUpResponse 상태 관리 및 API 호출 결과 반영 문제 해결
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpViewModel.kt
Labels: refactor

#162 feat: MQTT 매니저 객체 수정 및 기기 상태 조회 구현
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttManagerHelper.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  app/src/main/java/com/example/mhnfe/utils/DeviceUtils.kt
Labels: feature

#154 feature: token refresh logic
  .idea/inspectionProfiles/Project_Default.xml
  app/src/main/java/com/example/mhnfe/data/network/AuthInterceptor.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/UserApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/AuthResponse.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/UserResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/UserRepository.kt
  app/src/main/java/com/example/mhnfe/data/repository/UserRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/data/token/TokenManager.kt
  app/src/main/java/com/example/mhnfe/data/token/TokenProvider.kt
  app/src/main/java/com/example/mhnfe/di/module/NetworkModule.kt
  app/src/main/java/com/example/mhnfe/domain/repository/UserRepository.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileViewModel.kt
Labels: feature

#164 fix: 이벤트 콜백 재구현 및 구조 변경
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttManagerHelper.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/delta/ShadowContent.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/delta/ShadowDeltaMsg.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/delta/ShadowDeltaState.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/AiViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  app/src/main/java/com/example/mhnfe/utils/DeviceUtils.kt
Labels: fix

#167 feat : qr 생성 api 연결
  .idea/inspectionProfiles/Project_Default.xml
  app/src/main/java/com/example/mhnfe/data/model/CCTV.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/GroupApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/GroupResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/GroupRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/di/module/RepositoryModule.kt
  app/src/main/java/com/example/mhnfe/domain/repository/GroupRepository.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/BottomBarScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/DeviceInfoScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/qrgenerate/QRGenerateScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/qrgenerate/QRViewModel.kt
Labels: feature

#170 fix: IoT 연결 오류 수정
  app/src/main/java/com/example/mhnfe/MainActivity.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttManagerHelper.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
Labels: fix

#173 feat: 기기 삭제 api 연결 구현
  app/src/main/java/com/example/mhnfe/data/remote/api/DeviceApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/DeviceResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/DeviceRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/di/module/NetworkModule.kt
  app/src/main/java/com/example/mhnfe/di/module/RepositoryModule.kt
  app/src/main/java/com/example/mhnfe/domain/repository/DeviceRepository.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementViewModel.kt
Labels: feature

#174 fix: API 응답 에러 핸들링 수정
  app/src/main/java/com/example/mhnfe/data/remote/response/AuthResponse.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/DeviceResponse.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementViewModel.kt
Labels: feature

#175 feat: cctv 이름 변경 api 연결
  .kotlin/errors/errors-1732841813080.log
  app/src/main/java/com/example/mhnfe/data/remote/api/DeviceApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/DeviceRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/DeviceResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/DeviceRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/domain/repository/DeviceRepository.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementViewModel.kt
Labels: feature

#176 feat: PasswordEditScreen API 연결
  app/src/main/java/com/example/mhnfe/data/remote/api/UserApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/UserRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/UserResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/UserRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/di/module/RepositoryModule.kt
  app/src/main/java/com/example/mhnfe/domain/repository/UserRepository.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/GetNewPasswordScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/select/SelectViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/PasswordEditScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileViewModel.kt
Labels: feature

#178 Feature/178-ai-iot-event
  app/src/main/java/com/example/mhnfe/domain/ai/BoundingBoxTracker.kt
  app/src/main/java/com/example/mhnfe/domain/ai/BoundingBoxUtils.kt
  app/src/main/java/com/example/mhnfe/domain/ai/DetectionManager.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/AiViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
Labels: feature

#179 fix: 디바이스 상태 전달 및 섀도우 자동 갱신 구현
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/delta/ShadowDeltaMsg.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  app/src/main/java/com/example/mhnfe/utils/DataObserver.kt
  app/src/main/java/com/example/mhnfe/utils/DeviceUtils.kt
  app/src/main/java/com/example/mhnfe/utils/PermissionManager.kt
Labels: fix

#181 feat: group Id app module 저장 및 그룹 참여자 정보 조회 구현
  app/src/main/java/com/example/mhnfe/data/remote/api/GroupApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/GroupResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/DeviceRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/data/repository/GroupRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/di/module/AppModule.kt
  app/src/main/java/com/example/mhnfe/domain/repository/DeviceRepository.kt
  app/src/main/java/com/example/mhnfe/domain/repository/GroupRepository.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementViewModel.kt
Labels: feature

#183 feat: 기기관리 페이지 CCTV 리스트 조회 구현
  app/src/main/java/com/example/mhnfe/data/remote/api/GroupApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/GroupResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/GroupRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/domain/repository/GroupRepository.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementViewModel.kt
Labels: feature

#185 fix: 기기관리 페이지에서 CCTV 리스트 보이지 않는 문제 해결
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementScreen.kt
Labels: fix

#187 feat: 회원 이름 및 그룹 이름 변경 api 연결
  app/src/main/java/com/example/mhnfe/data/remote/api/UserApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/UserRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/UserResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/UserRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/domain/repository/UserRepository.kt
  app/src/main/java/com/example/mhnfe/ui/components/editPopup.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileViewModel.kt
Labels: feature

#191 feature: 비밀번호 재발급 UI 구현 및 API 연결
  app/src/main/java/com/example/mhnfe/data/remote/api/AuthApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/AuthRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/AuthResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/AuthRepository.kt
  app/src/main/java/com/example/mhnfe/ui/components/LogoutPopUp.kt
  app/src/main/java/com/example/mhnfe/ui/components/SendPasswordPopUp.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/GetNewPasswordScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
Labels: feature

#189 fix: 기기 관리 페이지 Viewer 수정 버튼 제거
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementScreen.kt
Labels: fix

#195 feature: 인증 코드 메일 전송 및 인증 코드 검증 API 연결
  app/src/main/java/com/example/mhnfe/data/remote/api/AuthApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/AuthRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/AuthResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/AuthRepository.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpViewModel.kt
Labels: feature

#199 refactor: 자동 로그인 화면 전환 로직 수정
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainViewModel.kt
Labels: refactor

#202 feat: 단일 CCTV IoT 토픽 구독 구현
  app/src/main/java/com/example/mhnfe/data/remote/api/DeviceApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/GroupRequest.kt
  app/src/main/java/com/example/mhnfe/data/repository/DeviceRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/domain/repository/DeviceRepository.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/DeviceInfoScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/device/DeviceViewModel.kt
Labels: feature
