Repository IoTeaTime/meong-ha-nyang-client, pull requests merged in 2024-10, with the labels that each got.

#2 feat: 프로젝트 초기 세팅
  .idea/.gitignore
  app/.DS_Store
  app/src/.DS_Store
Labels: feature

#4 feat: 프로젝트 초기 세팅
  .gitignore
  .idea/.gitignore
  .idea/.name
  .idea/appInsightsSettings.xml
  .idea/compiler.xml
  .idea/deploymentTargetSelector.xml
  .idea/gradle.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/kotlinc.xml
  .idea/migrations.xml
  .idea/misc.xml
  .idea/vcs.xml
  app/.DS_Store
  app/.gitignore
  app/build.gradle.kts
  app/proguard-rules.pro
  app/src/.DS_Store
  app/src/androidTest/java/com/example/mhnfe/ExampleInstrumentedTest.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/mhnfe/MainActivity.kt
  app/src/main/java/com/example/mhnfe/ui/theme/Color.kt
  app/src/main/java/com/example/mhnfe/ui/theme/Theme.kt
  app/src/main/java/com/example/mhnfe/ui/theme/Type.kt
  app/src/main/res/drawable/ic_launcher_background.xml
  app/src/main/res/drawable/ic_launcher_foreground.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
  app/src/main/res/xml/backup_rules.xml
  app/src/main/res/xml/data_extraction_rules.xml
  app/src/test/java/com/example/mhnfe/ExampleUnitTest.kt
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle.kts
Labels: feature

#7 feat: 폰트 파일 추가
  .idea/gradle.xml
  .idea/misc.xml
  app/src/main/res/font/roboto_bold.ttf
  app/src/main/res/font/roboto_regular.ttf
Labels: feature

#8 feat: 파일 디렉토리 구조 설정
  .idea/deploymentTargetSelector.xml
Labels: feature

#11 feat: 컬러 설정
  app/src/main/java/com/example/mhnfe/ui/theme/Color.kt
Labels: feature

#12 feat: 공통 Font 설계
  .idea/shelf/Uncommitted_changes_before_Update_at_2024__10__24__오후_1_52_[Changes]/shelved.patch
  app/src/main/java/com/example/mhnfe/ui/theme/Type.kt
Labels: feature

#14 fix: 파일 경로 수정
  .idea/deploymentTargetSelector.xml
  app/src/main/java/com/example/mhnfe/ui/theme/Color.kt
  app/src/main/java/com/example/mhnfe/ui/theme/Type.kt
Labels: fix

#18 feat: 공통 컴포넌트 TopBar 추가
  app/src/main/java/com/example/mhnfe/ui/components/TopBar.kt
  app/src/main/res/drawable/navigate_before.xml
Labels: feature

#20 feat: 공통 컴포넌트 Button 추가
  app/src/main/java/com/example/mhnfe/ui/components/button.kt
  app/src/main/java/com/example/mhnfe/ui/theme/Type.kt
Labels: feature

#25 Feature/23 kan 90 cctv page
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/mhnfe/ui/navigation/MasterNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/cctv/CCTVScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/cctv/CameraState.kt
  app/src/main/java/com/example/mhnfe/ui/screens/cctv/KVSViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/master/MasterMainScreen.kt
  app/src/main/res/drawable/ic_launcher_background.xml
  app/src/main/res/drawable/ic_launcher_foreground.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
Labels: feature

#24 feat: 공통 컴포넌트 TextBox 추가
  app/src/main/java/com/example/mhnfe/ui/components/TextBox.kt
  app/src/main/java/com/example/mhnfe/ui/components/TopBar.kt
  app/src/main/res/drawable/cancel_button.xml
Labels: feature

#28 feat: Viewerpage
  app/src/main/java/com/example/mhnfe/ui/screens/cctv/CameraViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/master/ViewerScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/master/ViewerViewModel.kt
Labels: feature

#27 feat: Delete Pop-up 추가
  .idea/deploymentTargetSelector.xml
  .idea/misc.xml
  app/build.gradle.kts
  app/src/main/java/com/example/mhnfe/ui/components/button.kt
  app/src/main/java/com/example/mhnfe/ui/components/deletePopup.kt
  app/src/main/res/drawable/delete_dog.xml
  app/src/main/res/drawable/x.xml
  gradle/libs.versions.toml
Labels: feature

#34 refactor: .gitignore 수정
  .gitignore
Labels: refactor

#37 feat : cognito 기기 인증 및 로그인 구현
  .gitignore
  app/src/main/assets/awsconfiguration.json
  app/src/main/java/com/example/mhnfe/MainActivity.kt
  app/src/main/java/com/example/mhnfe/MyApplication.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/MasterNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/StartUpScreen.kt
Labels: feature

#40 feat: README 라이센스 작성
  README.md
Labels: feature
