Repository IoTeaTime/meong-ha-nyang-client, pull requests merged in 2024-12, with the labels that each got.

#206 refactor: 로그인 시점의 mqtt 연결 로직 구현
  app/build.gradle.kts
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupViewModel.kt
Labels: refactor

#210 feat: 마이페이지 api 연결 및 리팩토링
  app/src/main/java/com/example/mhnfe/data/remote/api/GroupApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/GroupResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/GroupRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/domain/repository/GroupRepository.kt
  app/src/main/java/com/example/mhnfe/ui/components/LogoutPopUp.kt
  app/src/main/java/com/example/mhnfe/ui/components/button.kt
  app/src/main/java/com/example/mhnfe/ui/components/editPopup.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileViewModel.kt
Labels: feature

#209 fix: Network 상태 SDK 수정
  app/build.gradle.kts
  app/src/main/java/com/example/mhnfe/utils/DataObserver.kt
  app/src/main/java/com/example/mhnfe/utils/DeviceUtils.kt
  app/src/main/java/com/example/mhnfe/utils/PermissionManager.kt
Labels: fix

#213 feat: 그룹페이지 shadow 및 topic 연결
  .idea/inspectionProfiles/Project_Default.xml
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/topic/DeviceInfoTopic.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/topic/DeviceNetworkStatus.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/topic/Metadata.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/topic/MetadataField.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/topic/NetworkStatus.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/topic/ReportedData.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/topic/State.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/DeviceInfoScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  app/src/main/java/com/example/mhnfe/utils/DeviceUtils.kt
Labels: feature

#205 fix: 자동 로그인 로직 변경
  app/src/main/java/com/example/mhnfe/data/network/AuthAuthenticator.kt
  app/src/main/java/com/example/mhnfe/data/network/AuthInterceptor.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/TokenApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/UserApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/AuthResponse.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/UserResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/TokenRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/data/repository/UserRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/data/token/TokenManager.kt
  app/src/main/java/com/example/mhnfe/di/module/AppModule.kt
  app/src/main/java/com/example/mhnfe/di/module/NetworkModule.kt
  app/src/main/java/com/example/mhnfe/di/module/RepositoryModule.kt
  app/src/main/java/com/example/mhnfe/domain/repository/TokenRepository.kt
  app/src/main/java/com/example/mhnfe/domain/repository/UserRepository.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileViewModel.kt
Labels: fix

#219 fix: userType 중복 오류 수정
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
Labels: fix

#222 feat: kvs 오디오 기능 추가 및 갤러리 사진 저장
  app/build.gradle.kts
  app/src/main/java/com/example/mhnfe/data/repository/AuthRepository.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/KVSSignalingViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  gradle/libs.versions.toml
Labels: feature

#221 fix: API 스펙 변경
  app/src/main/java/com/example/mhnfe/data/model/CCTV.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/DeviceApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/QRApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/QrResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/QRRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/di/module/AppModule.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/DeviceInfoScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/device/DeviceViewModel.kt
Labels: fix

#227 refactor: AuthAuthenticator, SignUpScreen
  app/src/main/java/com/example/mhnfe/data/network/AuthAuthenticator.kt
  app/src/main/java/com/example/mhnfe/data/network/AuthInterceptor.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpViewModel.kt
Labels: refactor

#228 refactor: webrtc UI
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  app/src/main/res/drawable/exit.xml
  app/src/main/res/drawable/switch_refresh.xml
Labels: refactor

#237 feat: 네트워크 배터리 변경 시 CctvItemCard ui 변경
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/DeviceInfoShadow.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/DeviceNetworkStatus.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/Metadata.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/MetadataField.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/NetworkStatus.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/ReportedData.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/State.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/MonitoringComponents.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
Labels: feature

#243 feat: 카메라 전면 후면 변환 flag 추가
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/KVSSignalingViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
Labels: feature

#244 refactor: Topic Thing 구독 분리
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/topic/ReportedThingInfo.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/DeviceInfoScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/device/DeviceViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/MonitoringComponents.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  app/src/main/java/com/example/mhnfe/utils/DeviceUtils.kt
Labels: refactor

#247 feat: 비밀번호 가시성 토글 기능 추가 및 Toast 메시지 추가
  app/build.gradle.kts
  app/src/main/java/com/example/mhnfe/ui/components/TextBox.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpScreen.kt
Labels: feature

#251 fix: 회원 상세 정보 호출 시점 변경
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
Labels: fix

#254 fix: 오류 코드 수정
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/AiViewModel.kt
Labels: fix

#257 Fix/256 webrtcscreen error
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/AiViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
Labels: fix

#260 fix: Interceptor
  app/src/main/java/com/example/mhnfe/data/network/AuthInterceptor.kt
Labels: fix

#258 feat: ai detect 시에 토픽 전달 콜백 구현
  .gitignore
  app/src/main/java/com/example/mhnfe/domain/ai/BoundingBoxUtils.kt
  app/src/main/java/com/example/mhnfe/domain/ai/yolo/BoundingBoxProcessor.kt
  app/src/main/java/com/example/mhnfe/domain/ai/yolo/YoloDetectionManager.kt
  app/src/main/java/com/example/mhnfe/domain/ai/yolo/YoloDetector.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/AiViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/KVSSignalingViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
Labels: feature

#265 feat: ai 탐지시 이미지 capture
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/AiViewModel.kt
Labels: feature

#263 feat: WebRtcScreen group id 연결 로직 구현 및 CCTVItemCard 네트워크 및 배터리 연결 로직 수정
  app/src/main/java/com/example/mhnfe/data/remote/api/QRApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/QrRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/QrResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/QRRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/NetworkStatus.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/ReportedData.kt
  app/src/main/java/com/example/mhnfe/domain/repository/QRRepository.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/MonitoringComponents.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  opencv/build.gradle
Labels: feature

#266 feature : 리프레시 토큰 만료 시 화면 처리
  app/src/main/java/com/example/mhnfe/data/network/AuthAuthenticator.kt
  app/src/main/java/com/example/mhnfe/ui/components/TopBar.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/select/SelectScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/report/ReportScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/shared/AuthStateViewModel.kt
Labels: feature

#271 fix: adjust sensitivity #269 (KAN-24)
  app/src/main/java/com/example/mhnfe/domain/ai/opencv/MotionDetector.kt
Labels: fix

#270 fix: 특정 객체 (사람, 강아지, 고양이) 탐지시에만 캡쳐
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/AiViewModel.kt
Labels: fix

#272 feat: 이미지 api 연결
  app/build.gradle.kts
  app/src/main/java/com/example/mhnfe/data/model/CCTV.kt
  app/src/main/java/com/example/mhnfe/data/model/Image.kt
  app/src/main/java/com/example/mhnfe/data/model/QRData.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/ImageApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/ImageRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/ImageResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/ImageRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/data/repository/QRRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/di/module/NetworkModule.kt
  app/src/main/java/com/example/mhnfe/di/module/RepositoryModule.kt
  app/src/main/java/com/example/mhnfe/domain/repository/ImageRepository.kt
  app/src/main/java/com/example/mhnfe/domain/repository/QRRepository.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/AiViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/report/ReportComponents.kt
  app/src/main/java/com/example/mhnfe/ui/screens/report/ReportScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/report/ReportViewModel.kt
Labels: feature

#275 fix: 이미지 api 오류 해결
  app/src/main/java/com/example/mhnfe/data/model/Image.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/ImageResponse.kt
Labels: fix

#264 fix: ai 감지 이벤트의 json 형식 수정
  app/src/main/java/com/example/mhnfe/data/network/AuthAuthenticator.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/ImageApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/ImageResponse.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/QrResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/ImageRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/di/module/NetworkModule.kt
  app/src/main/java/com/example/mhnfe/di/module/RepositoryModule.kt
  app/src/main/java/com/example/mhnfe/domain/ai/BoundingBoxUtils.kt
  app/src/main/java/com/example/mhnfe/domain/ai/yolo/BoundingBoxProcessor.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/domain/repository/ImageRepository.kt
  app/src/main/java/com/example/mhnfe/ui/components/TopBar.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/select/SelectScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/MonitoringComponents.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/AiViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/report/ReportComponents.kt
  app/src/main/java/com/example/mhnfe/ui/screens/report/ReportScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/shared/AuthStateViewModel.kt
Labels: fix

#278 fix: 아이디값 수정 및 icon 이미지 변경
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
  app/src/main/res/drawable/google.png
  app/src/main/res/drawable/google1.png
Labels: fix

#282 fix: 공백 문자 수정
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/AiViewModel.kt
Labels: fix

#285 feat: 기기 상세 페이지 IoT 구현, 연결 끊겼을 경우 로딩 화면 구현
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/DeviceInfoScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/device/DeviceViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/qrscannig/QRScanningScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/qrscannig/QRScanningViewModel.kt
Labels: feature

#287 fix: 마이페이지 정보 변경 즉시 반영 되도록 변경
  app/src/main/java/com/example/mhnfe/ui/components/Button.kt
  app/src/main/java/com/example/mhnfe/ui/components/DeletePopup.kt
  app/src/main/java/com/example/mhnfe/ui/components/EditPopup.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileViewModel.kt
Labels: fix

#291 fix: 이벤트 로직 수정
  app/src/main/java/com/example/mhnfe/domain/ai/BoundingBoxUtils.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/AiViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/KVSSignalingViewModel.kt
Labels: fix

#292 feat: 카메라 원격 스위치 및 네트워크 및 배터리 오류 해결
  app/src/main/java/com/example/mhnfe/domain/mqtt/MqttViewModel.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/ReportedData.kt
  app/src/main/java/com/example/mhnfe/domain/mqtt/shadow/delta/ShadowContent.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/MonitoringComponents.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/KVSSignalingViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  app/src/main/java/com/example/mhnfe/utils/DataObserver.kt
  app/src/main/java/com/example/mhnfe/utils/DeviceUtils.kt
Labels: feature

#294 fix: 그룹 페이지 IoT 요청 과다 오류 수정
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/DeviceInfoScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/MonitoringComponents.kt
Labels: fix

#296 fix: 비밀번호 변경 페이지 수정
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/PasswordEditScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileViewModel.kt
Labels: fix

#297 fix: 295 로그인 예외처리 수정
  app/src/main/java/com/example/mhnfe/ui/screens/auth/login/LoginViewModel.kt
Labels: fix

#298 fix : kvs 파일 수정 및 경로 수정
  app/src/main/java/com/example/mhnfe/data/remote/api/QRApi.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/KVSSignalingViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
Labels: fix

#299 refactor: unused import and fun delete
  app/src/main/java/com/example/mhnfe/data/remote/api/GroupApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/ImageApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/api/UserApi.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/GroupRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/ImageRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/QrRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/request/UserRequest.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/AuthResponse.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/GroupResponse.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/ImageResponse.kt
  app/src/main/java/com/example/mhnfe/data/remote/response/QrResponse.kt
  app/src/main/java/com/example/mhnfe/data/repository/AuthRepository.kt
  app/src/main/java/com/example/mhnfe/data/repository/GroupRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/data/repository/QRRepositoryImpl.kt
  app/src/main/java/com/example/mhnfe/di/module/AppModule.kt
  app/src/main/java/com/example/mhnfe/di/module/NetworkModule.kt
  app/src/main/java/com/example/mhnfe/domain/ai/DetectionManager.kt
  app/src/main/java/com/example/mhnfe/domain/ai/opencv/BitmapToMatConverter.kt
  app/src/main/java/com/example/mhnfe/domain/ai/opencv/MotionDetector.kt
  app/src/main/java/com/example/mhnfe/domain/ai/yolo/HandleDetection.kt
  app/src/main/java/com/example/mhnfe/domain/ai/yolo/YoloDetectionManager.kt
  app/src/main/java/com/example/mhnfe/domain/ai/yolo/YoloDetector.kt
  app/src/main/java/com/example/mhnfe/domain/repository/GroupRepository.kt
  app/src/main/java/com/example/mhnfe/domain/repository/QRRepository.kt
  app/src/main/java/com/example/mhnfe/domain/repository/UserRepository.kt
  app/src/main/java/com/example/mhnfe/ui/components/DeletePopup.kt
  app/src/main/java/com/example/mhnfe/ui/components/SendPasswordPopUp.kt
  app/src/main/java/com/example/mhnfe/ui/components/TopBar.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/AppNavigation.kt
  app/src/main/java/com/example/mhnfe/ui/navigation/BottomBarScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/select/SelectScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/auth/signup/SignUpViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/DeviceInfoScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/device/DeviceViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/MonitoringComponents.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/AiViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/KVSSignalingViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/DeviceManagementViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/PasswordEditScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/qrgenerate/QRGenerateScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/qrgenerate/QRViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/qrscannig/QRScanningScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/qrscannig/QRScanningViewModel.kt
  app/src/main/java/com/example/mhnfe/ui/screens/report/ReportScreen.kt
  app/src/main/java/com/example/mhnfe/ui/theme/Theme.kt
  app/src/main/java/com/example/mhnfe/ui/theme/Type.kt
Labels: refactor

#301 fix: autologin (#300)
  app/src/main/java/com/example/mhnfe/ui/screens/auth/main/MainViewModel.kt
Labels: fix

#303 refactor : UI 및 WebRTC 로직 수정
  .gitignore
  app/src/main/java/com/example/mhnfe/ui/components/Button.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/group/GroupScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/kvs/WebRTCScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/mypage/ProfileScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/qrscannig/QRScanningScreen.kt
  app/src/main/java/com/example/mhnfe/ui/screens/qr/qrscannig/QRScanningViewModel.kt
Labels: refactor

#306 fix: IoT 로그 수정
  app/src/main/java/com/example/mhnfe/ui/screens/monitoring/DeviceInfoScreen.kt
  app/src/main/res/values/strings.xml
Labels: fix
